{erl_opts, [debug_info]}.
{deps, [
    {erlport, "0.9.8"}
]}.
{shell, [{apps, [roh]}]}.

{relx, [
%%    {vm_args, "config/vm.args"},
%%    {sys_config, "config/sys.config"},
    {release, {roh, "0.0.1"}, [roh]},
    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]
}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
        {include_erts, true}]}]}
]
}.